<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌列表案例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name
<!--     系统提供的内置按键修饰符：enter tab delete(捕获 删除 和 退格 键) esc space up down left right-->
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>
<!--                在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了-->
                <button type="button" class="btn btn-primary" @click="add()">添加</button>
                <label>
                    搜索名称关键字：
<!--                    获取焦点标签： autofocus="autofocus"-->
<!--                    注意再Vue中所有的指令，再调用的时候都是以 v- 开头-->
                    <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color>
                </label>

            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
<!--            之前，v-for 中的数据，都是直接从 data 上的 list 中直接渲染过来的-->
<!--            现在， 我们自定义了一个 search 方法，同时， 把 所有的关键字，通过传参的形式，传递给了search 方法-->
<!--            在 search 方法内部，通过执行 for 循环 ，把所有符合搜索关键字的数据，保存到一个新数组中，返回给v-for-->
                <tr v-for="(item, index) in search(keywords)" :key="item.id">
                    <td> {{ item.id }}</td>
                    <td v-text=" item.name "></td>
                    <td> {{ item.ctime | dateFormat() }} </td>
<!--                    .prevent是为了阻止他的默认行为(刷新页面)-->
<!--                    这个a在tr的范围里面，所以item.id可以直接取到他的id-->
                    <td><a href="" @click.prevent="del(item.id)">删除</a> </td>
<!--                    <td><a href="" @click.prevent="del(index)">删除</a> </td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div id="app2">
        {{ date | dateFormat }}
    </div>

    <script>
        //定义全局的过滤器，进行时间格式化
        //所谓的全局过滤器，就是所有的vue实例都能用
        Vue.filter('dateFormat',function (dateStr,pattern="") {
            //根据给定的时间字符串，得到特定的时间
            let dt = new Date(dateStr);
            // 拿到具体的年月日， yyyy-mm-dd
            let y = dt.getFullYear();
            //月份是从0开始算的，所以要加一
            let m = (dt.getMonth()+1).toString().padStart(2,"0");
            // console.log(m);
            let d = dt.getDate().toString().padStart(2,"0");
            // return y + '-' + m +'-' + d
            if(pattern.toLowerCase() === "yyyy-mm-dd"){
                //ES6写法，模板字符串``
                return `${y}-${m}-${d}`;
            }else{
                let hh = dt.getHours().toString().padStart(2,"0");
                let mm = dt.getMinutes().toString().padStart(2,"0");
                let ss = dt.getSeconds().toString().padStart(2,"0");

                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        });

        //自定义全局按键修饰符
        //Vue.config.keyCode+名称 = 键盘码的码值
        Vue.config.keyCodes.f2 = 113;

        //自定义全局指令 全局的不带s 私有的才会带s
        //使用 Vue.directive() 定义全局的指令 v-focus
        //其中：参数1：指令的名称，注意，再定义的时候，指令的名称前面不需要加 v- 前缀
        //但是：在调用的时候，必须 在指令名称前面 加上 v- 前缀来进行调用
        //参数2：是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
        Vue.directive('focus',{
            //el表示，把这个绑定到哪个元素上，那么这个 el 就是指哪个元素 比如 这次绑定到 input 身上，那么这次的el就是指input元素
            bind:function (el) {//每当指令绑定到元素上的时候，会立即执行这个 bind 函数，只执行一次
            //注意：在每个函数中，第一个参数永远是el， 表示被绑定了指令的那个元素，这个el参数是一个原生的js对象(就是DOM对象)
            //在元素中，刚绑定的指令的时候，还没有插入到DOM中去，这时候调用 focus 方法没有作用
            //因为一个元素只有插入DOM中之后才能获取焦点，也就是在浏览器显示出来
                el.focus();
            },
            inserted:function (el) {// inserted 表示元素 插入到 DOM 中的时候，会执行 inserted 函数 [执行一次]
                el.focus()
            },
            updated:function () {// 当V-node更新的时候，会执行 updated ，可能会触发多次

            },
        });

        Vue.directive('color',{
            //样式只要通过指令绑定给了元素，不管这个元素有没有插入到页面中去，这个元素肯定有了一个内联的样式
            //将来元素肯定会显示到页面中去，这时候，浏览器的渲染引擎，必定会应用这个元素
            //和样式有关的操作，可以再bind中执行
            bind:function (el) {
                el.style.color="red";
            },
            //和js行为有关的操作，最好在inserted中执行，防止操作不生效
            inserted:function () {

            },
            updated:function () {

            }
        })


        //创建 Vue 实例，得到 ViewModel
        var vm = new Vue({
            el:"#app",
            data:{
                id:"",
                name:"",
                keywords:"",//搜索输入的关键字
                list:[
                    {id:1, name:"奔驰", ctime: new Date()},
                    {id:2, name:"宝马", ctime: new Date()}
                ]
            },
            methods:{//methods是业务逻辑
                add(){//添加按钮的方法
                //分析：
                //1.获取到ID和Name，直接从data上获取
                //2.组织出一个对象
                //3.把这个对象调用数组的相关方法，添加到当前的data上的list中
                //4.注意：在Vue中，已经实现了数据的双向绑定，每当我们修改了data中的数据，Vue会默认监听到数据的改动，自动把
                //最新的数据应用到页面上;


                //5.当我们意识到上面的第四步的时候，就证明大家已经入门vue了，我们更多的是在进行VM中Model数据的操作，同时
                //在操作Model数据的时候，指定的业务逻辑操作;
                    var car = {id: this.id, name: this.name, ctime: new Date()};
                    this.list.push(car);
                    // this.list.sort();
                    // console.log(car.id);
                    // if (this.id != car.id) {
                    //     this.list.sort();
                    // } else {
                    //     alert("ID已存在，请重新输入");
                    // }
                    this.id="";
                    this.name="";
                },
                del(id){//根据id删除数据
                    //分析：
                    //我们这是假数据，如果是从服务器获取到数据，我们直接用sql语句查询就能接收到了
                    //1、如何根据id，找到要删除项的索引
                    //2、如果找到索引了，我们直接调用数组的splice方法删除所对应的索引就行
                    //方法一：
                    //some()根据指定的条件进行判断，如果返回true，这个some就会呗终止
                    // this.list.some((item, i)=>{
                    //     if (item.id == id){
                    //         this.list.splice(i, 1);
                    //         //在数组的 some 方法中，如果 return true ，就会立即终止这个数组的后续循环
                    //         return true;
                    //     }
                    // })
                    //方法二：findIndex()方法，这也是一个找索引的方法，里面是一个回调函数
                    var index = this.list.findIndex(item => {
                        if (item.id == id){
                            return true;
                        }
                    });
                    this.list.splice(index, 1);
                },
                //方法三：V-for中的索引
                // del(index){
                //     this.list.splice(index, 1);
                // }
                search(keywords){//根据关键字进行数据的搜索
                    //方法一：
                    //定义一个新的空数组
                    // var newList = [];
                    // //item代表循环的每一项
                    // this.list.forEach(item => {
                    //     //indexOf不等于-1就说明是包含，如果等于-1就是不包含
                    //     if(item.name.indexOf(keywords) != -1){
                    //         newList.push(item);
                    //     }
                    // })
                    // return newList;
                    //方法二：
                    //注意：forEach  some  filter  findIndex  这些都是属于数组的新方法
                    //都会对数组中的每一项进行遍历，执行相关的操作；
                    var newList = this.list.filter(item => {
                        //注意： 在ES6中为字符串提供了一个新方法，叫做 String.prototype.includes("要包含的字符串")
                        //如果包含则返回true， 否则返回false
                        if(item.name.includes(keywords)){
                            return true
                        }
                    });
                    return newList
                }
            }
        });

        //创建 Vue 实例，得到 ViewModel
        //如何自定义一个私有的过滤器（局部）
        var vm2 = new Vue({
            el:"#app2",
            data:{
                date:new Date()
            },
            methods: {},
            filters:{//定义私有过滤器，过滤器有两个条件 [过滤器名称 和 处理函数]，因为filter是一个对象，那么可能以后会有更多的过滤器，所以每个过滤器都要有一个自己的名称
                //过滤器调用的时候，采用的是就近原则，如果私有过滤器和全局过滤器名称一致，这时候优先调用私有过滤器
                dateFormat:function (dateStr,pattern="") {
                    //根据给定的时间字符串，得到特定的时间
                    let dt = new Date(dateStr);
                    // 拿到具体的年月日， yyyy-mm-dd
                    let y = dt.getFullYear();
                    //月份是从0开始算的，所以要加一
                    let m = (dt.getMonth()+1).toString().padStart(2,"0");
                    // console.log(m);
                    let d = dt.getDate().toString().padStart(2,"0");
                    // return y + '-' + m +'-' + d
                    if(pattern.toLowerCase() === "yyyy-mm-dd"){
                        //ES6写法，模板字符串``
                        return `${y}-${m}-${d}`;
                    }else{
                        let hh = dt.getHours().toString().padStart(2,"0");
                        let mm = dt.getMinutes().toString().padStart(2,"0");
                        let ss = dt.getSeconds().toString().padStart(2,"0");

                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}=======`
                    }
                }
            }
        })
        //这是原生js的，再Vue中不提倡这样的做法
        // document.getElementById("search").focus();


    </script>
</body>
</html>